@model List<GaleriaArte.Models.historial_exposicion >

@{
    ViewData["Title"] = "Historial";
}

<head>
    <link rel="stylesheet" href="~/css/locacionStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css_C/ExpocisionStyle.css" asp-append-version="true" />
</head>


<h2>@ViewData["Title"]</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Código Historial</th>
            <th>Código Exposición</th>
            <th>Usuario Modificación</th>
            <th>Fecha Modificación</th>
            <th>Detalles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id_historial</td>
                <td>@item.id_exposicion</td>
                <td>@item.usuario_modificacion</td>
                <td>@item.fecha_modificacion.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@item.detalles</td>
            </tr>
        }
    </tbody>
</table>
