@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

    var exposiciones = ViewBag.ExposicionesActivas as List<GaleriaArte.Models.exposicion>;
    var obrasPorExpo = ViewBag.ObrasPorExposicion as Dictionary<int, List<GaleriaArte.Models.obra>>;
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="~/css_E/ObraVista.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/locacionStyle.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Charm&family=Playball&display=swap" rel="stylesheet">
</head>

<div class="container my-4 text-white">
    <div class="section-inicio">
        <h2 class="texto-ver-obra text-white">Exposiciones <br> Activas !</h2>
    </div>

    <div class="row g-4">
        <!-- 'g-4' agrega un espacio de 1.5rem entre las columnas -->
        @if (exposiciones != null)
        {
            foreach (var expo in exposiciones)
            {
                <div class="col-md-4">
                    <!-- Esto asegura que en pantallas medianas haya 3 tarjetas por fila -->
                    <div class="card mb-4 bg-dark text-white">
                        <div class="card-body">
                            <h5 class="card-title">@expo.titulo_exposicion</h5>
                            <p class="card-text">@expo.descripcion</p>
                            <p class="card-text text-white">
                                <small class="text-white">Desde: @expo.fecha_inicio.ToString("dd/MM/yyyy")</small><br />
                                <small class="text-white">Hasta: @expo.fecha_cierre.ToString("dd/MM/yyyy")</small>
                            </p>
                            <hr />
                            <h6>Obras asignadas:</h6>
                            @if (obrasPorExpo != null && obrasPorExpo.ContainsKey(expo.id_exposicion) && obrasPorExpo[expo.id_exposicion].Any())
                            {
                                <ul>
                                    @foreach (var obra in obrasPorExpo[expo.id_exposicion])
                                    {
                                        <li>@obra.titulo</li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <p>No hay obras asignadas.</p>
                            }
                           
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
